html {
  font-size: 16px;
}

body {
  background-color: Crimson;
}

h2 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  padding: 1.15%;
}

.leftside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.circlepick {
  width: 6.5rem;
  border-radius: 100%;
}

.logo {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  text-align: left;
  line-height: 25%;
  vertical-align: top;
  padding-left: 2rem;
  min-width: 800px;
}

nav {
  margin-right: 2.5rem;
  overflow: hidden;
  width: 30%;
}

nav a {
  font-family: Helvetica;
  font-size: 1.4rem;
  color: white;
  margin: 0 1.5rem;
  text-decoration: none;
}

/* Main */

main {

}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../images/Niagra Falls4.JPG") no-repeat center center;
  background-size: cover;
  height: 40rem;
  width: 100%;
}

.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: white;
  height: 6.5rem;
  width: 90%;
  margin-top: 2.5%;
  padding: 1% 5%;
  background-color: rgba(76, 191, 63, 0.8)
}

.ribbontxt {
  text-align: center;
  line-height: 3rem;
  margin: 0 auto;
  width: 55rem;
}

/* need to play with this circle image in the banner */
.booth {
  align-self: center;
  opacity: 1;
}

.bannerpic {
  width: 10rem;
  border-radius: 100%;
  margin-top: 20px;
  /* position: relative;
  left: 48%;
  bottom: 130px; /*this doesn't like REM */

}

/* Gallery - Why Section */
.gallery {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

#why-title {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: white;
  margin-top: 5%;
}

.why {
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.kind, .smart, .important {
  background-color: white;
  font-family: 'Indie Flower', cursive;
  height: 47rem;
  width: 25rem;
  margin: 10% auto;
  text-align: center;
}

.why-title {
  padding: 1rem;
}

.smart {
  width: 32rem;
}

.whypic {
  width:375px;
}

.artpic {
  width: 425px;
}

.egwhy {
  margin: 10px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  line-height: 20px;
  padding: 1rem;
}

/* Who */
.who {
  background-color: white;
  height: 170rem;
  margin-bottom: 5rem;

}

.whotitle {
  width: 35rem;
  margin: 1.5rem auto;
  padding-top: 2.2rem;
}

.whotitle h2 {
  font-family: 'Indie Flower', cursive;
  color: rgba(76, 191, 63, 0.9);
  font-size: 2rem;
  text-align: center;
}

.textbox {
  background-color: rgba(76, 191, 63, 0.9);
  color: white;
  width: 30rem;
  height: 40rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.textbox-short {
  background-color: rgba(76, 191, 63, 0.9);
  color: white;
  width: 30rem;
  height: 28rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.textbox-short p {
  margin: 1px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  line-height: 20px;
  padding: 0.5rem;
}

.widescreen {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.textbox p {
  margin: 1px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  line-height: 20px;
  padding: 0.5rem;
}

/* Judah's message */
.container {
  width: 100%;
  margin-top: 3.5rem;
}

.judah-title {
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;
  color: white;
  text-align: center;
  padding: 1rem;
}

.video-message {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.video {
  width: 25%;
  height: auto;
}

video {
    width: 100%;
    margin: 2rem 2rem 3rem 5rem;
}

.message {
  background: url("../images/chalkboard.jpg") no-repeat center center;
  background-size: cover;
  align-self: flex-start;
  width: 55%;
  height: 40rem;
  font-family: 'Butterfly Kids', cursive;
  font-size: 6rem;
  color: white;
  margin-top: 2rem;
  margin-right: 5rem;
  line-height: 6.4rem;
  padding: 1rem 2rem;
  text-align: center;
}

.gifts {
  background-color: white;
  height: 30rem;
  width: 100%;
}

.gifts-header {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: rgba(76, 191, 63, 0.9);
  padding: 1.5rem;
  text-align: center;
}

.gift-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.gift-block {
  width: 25%;
  height: auto;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.gift-block img {
  width: 100%;
  height: auto;
}

.gift-block span {
  font-weight: bold;
  font-size: 1rem;
  color: rgba(76, 191, 63, 0.9);
}

.basket {
  background: url("../images/image1.JPG") no-repeat center center;
  background-size: cover;
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  color: white;
  background-color: crimson;
  padding: 2rem 10rem;
  opacity: 0.8;
}

.basketh3 {
  width: 60%;
}

.basket-text h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: white;
  background-color: green;
  padding: 2rem;
  text-align: center;
  align-self: flex-end;
  opacity: 0.8;
  margin-top: 1rem;
}

footer {
    height: 8rem;
    color: white;
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.white-circle {
  background-color: white;
  border-radius: 100%;
  width: 6.4rem;
  height: 6.4rem;
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 4rem;
  height: auto;
}

/* Responsive Design */

@media only screen and (max-width: 1456px) and (min-width: 984px) {
  nav {
    margin-right: 1rem;
    overflow: hidden;
    width: 40%;
  }

  nav a {
    font-family: Helvetica;
    font-size: 1.2rem;
    color: white;
    margin: 0 1.5rem;
    text-decoration: none;
  }

}

media only screen and (max-width: 660px) {
  .logo {
    font-size: 1rem;
    line-height: 25%;
    padding-left: 1.5rem;
  }
}
